@model Kargo_İlan.DTOs.Account.ForgotPassword
@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<div class="bg-light py-3 py-md-5" style="background-color: whitesmoke; ">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
                <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                    <div class="row gy-3 mb-5">
                        <div class="col-12">
                            <div class="text-center">                               
                                    <img src="~/images/lock1.png" alt="Logo" 
                                         style="width: 216px; height:216px; object-fit: cover;">

                            </div>
                        </div>
                        <div class="col-12">
                            <h2 class="fs-6 fw-normal text-center text-secondary m-0 px-md-5">Şifrenizi kurtarmak için hesabınızla ilişkili e-posta adresini girin.</h2>
                        </div>
                    </div>
                    <form asp-action="ForgotPassword" method="post">
                        @Html.AntiForgeryToken()


                        <div asp-validation-summary="ModelOnly"
                             class="alert alert-danger alert-dismissible fade show rounded-3 shadow-sm"
                             role="alert"
                             style="font-size: 0.9rem;">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Kapat"></button>
                        </div>


                        <div class="row gy-3 gy-md-4 overflow-hidden">
                            <!-- Email -->
                            <div class="col-12">
                                <div class="form-floating mb-1">
                                    <input asp-for="Email" class="form-control" placeholder="Email" />
                                    <label asp-for="Email">Email</label>
                                </div>
                                <span asp-validation-for="Email" class="text-danger small ms-1"></span>
                            </div>

                            <div class="col-12">
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-lg" type="submit">Şifreyi Sıfırla</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-12">
                            <hr class="mt-5 mb-4 border-secondary-subtle">
                            <div class="d-flex gap-4 justify-content-center">
                                <a href="/Account/Login" class="link-secondary text-decoration-none">Giriş Yap</a>
                                <a href="/Account/Register" class="link-secondary text-decoration-none">Kayıt Ol</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
